* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */
.btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    background-color: #30B868;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
}

.btn:hover {
    background-color: rgb(16, 91, 31);
    transition: 1s;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* =========================================
Header Area
========================================= */

header {
    margin-bottom: 48px;
}

/* Navigation Bar */
nav {
    background-color: #ffffff;
    padding: 34px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    cursor: pointer;
}

nav>ul {
    display: flex;
    gap: 32px;
}

nav>ul>li {
    list-style: none;
    cursor: pointer;
}

nav>ul>li>a {
    color: #001931;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

/* Hero Section */

.hero-secton {
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.inner-hero-secton {
    margin: 115px 120px 179px;
}

.early-btn {
    display: flex;
    justify-content: center;
}

.early-btn>button {
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 6px;
}

.white {
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 85px;
    margin-bottom: 16px;
}

.green {
    color: #30B868;
}

.hero-secton>p {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
}

.hero-btn {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-btn2 {
    background: none;
    border: 1px solid #FFFFFF;
}

/* =========================================
Cards Area
========================================= */

.card-section {
    text-align: center;
    margin-bottom: 120px;
}

.card-section>h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.card-section>p {
    margin-bottom: 44px;
}

.card {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.inner-card {
    max-width: 322px;
    width: 100%;
    height: 300pxs;
    padding: 69px 24px;
    box-shadow: 0 4px 6px #353636;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    background-color: #F95555;
    height: 60px;
    max-width: 60px;
    width: 100%;
    border-radius: 100%;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-card>h2 {
    color: #001931;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.inner-card>p {
    color: #627382;
    font-size: 16px;
    font-weight: normal;
}

/* =========================================
Knowladge Area
========================================= */

.knowladge-section {
    background-color: #FFFFFF;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.knowladge-content>a {
    color: #30B868;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.knowladge-content>h1 {
    font-size: 48px;
    font-weight: bold;
}

.knowladge-content>p {
    color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
}

.knowladge-content>ul>li {
    font-size: 16px;
    display: flex;
    gap: 6px;
}

.knowladge-content>a,
.knowladge-content>h1,
.knowladge-content>ul>li {
    margin-bottom: 16px;
}