* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */
.btn{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
}

.btn:hover{
    background-color: rgb(16, 91, 31);
    transition: 1s;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* =========================================
Header Area
========================================= */
header {
    height: 100vh;
}

/* Navigation Bar */
nav {
    background-color: #ffffff;
    padding: 34px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 32px;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    color: #001931;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

/* Hero Section */

section{
    background-image: url(assets/hero-bg.png);
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-secton{
    margin: 115px 120px 179px;
}

.early-btn{
    display: flex;
    justify-content: center;
}

.early-btn> button{
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 25px;
    border: none;
    display: flex;
    gap: 6px;
}

.white{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 85px;
    margin-bottom: 16px;
}

.green{
    color: #30B868;
}

.hero-secton >p{
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
}

.hero-btn{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-btn2{
    background: none;
    border: 1px solid #FFFFFF;
}